@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;700&display=swap');
body 
{
  background-color: #eee !important;
  font-family: 'Open Sans', sans-serif;
}
.logo
{
  max-height: 100px;
}
.img-carousel
{
    width:100%;
    /* max-width: fit-content;
    max-height:400px; */
    height:700px;
    background-repeat: no-repeat;
    background-size: contain;
}
.admin-sidebar
{
  background-color: #e6e6ea;
  min-height: 70vh;
  width:300px;
}
.nopadding
{
  padding: inherit !important;
}
.bg-navy-blue
{
  background-color: #041562 !important;
}
.content
{
  width: calc(100vw - 300px);
  display: inline-block;
  align-items: center;
}
.student-content
{
  width: calc(100vw - 250px);
  display: inline-block;
  align-items: center;
}
.institute-content
{
  width: calc(100vw - 230px);
  /* display: inline-block; */
  align-items: center;
}
.navy-blue
{
  color: #041562 !important;
}

/* institute-sidebar */

@media only screen and (max-width: 500px) {
 .img-carousel{
    height: auto;
  }
  .sidebar{
    width: 100px;
  }
  .content{
    width: calc(100vw - 50px);
    margin:1px;
    padding: 1px;
  }
  img{
  width: inherit;
  }
}


