body{
  background-color: lightgray !important;
  
}
.logo
{
  max-height: 100px;
}
.img-carousel
{
    width:100%;
    /* max-width: fit-content;
    max-height:400px; */
    height:700px;
    background-repeat: no-repeat;
    background-size: contain;
}
.sidebar
{
  background-color: #e6e6ea;
  min-height: 70vh;
  width:300px;
}
.nopadding
{
  padding: inherit !important;
}
.bg-navy-blue
{
  background-color: #041562 !important;
}
.content
{
  width: calc(100vw - 300px);
  display: inline-block;
  align-items: center;
}
.navy-blue
{
  color: #041562 !important;
}

@media only screen and (max-width: 500px) {
 .img-carousel{
    height: auto;
  }
  .sidebar{
    width: 100px;
  }
  .content{
    width: calc(100vw - 100px);
  }
}


